<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <context:property-placeholder location="musicPlayer.properties"/>

    <bean id="musicRockBean"
          class="ru.simpleSpringApp.RockMusic">
    </bean>

    <bean id="musicClassicalBean"
          class="ru.simpleSpringApp.ClassicalMusic">
    </bean>

    <bean id="musicJazzBean"
          class="ru.simpleSpringApp.JazzMusic">
    </bean>

    <bean id="musicPlayerSingleton"
          class="ru.simpleSpringApp.MusicPlayer">
        <property name="musicList">
            <list>
                <ref bean="musicRockBean"></ref>
                <ref bean="musicClassicalBean"></ref>
                <ref bean="musicJazzBean"></ref>
            </list>
        </property>
        <property name="name" value="Some name"/>
        <property name="volume" value="50"/>
        <property name="price" value="${musicPlayer.price}"/>
    </bean>

    <bean id="musicPlayerPrototype"
          class="ru.simpleSpringApp.MusicPlayer"
          scope="prototype">
        <property name="volume" value="50"/>
    </bean>

</beans>